body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 600vh;
  width: 100vw;
  background-color: #1d1e22;
}

.slider-section {
  height: 22vh;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.wheel {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300vw;
  height: 300vw;
  max-width: 2000px;
  max-height: 2000px;
  left: 50%;
  transform: translateX(-50%);
}

.wheel__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 6%;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.wheel-div {
  width: 100px;
  height: 200px;
  background: #c70f0f;
}
